{% assign favicon=site.favicon favicon_type=site.favicon_type %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="JonahPlusPlus's Development Blog">
    <meta name="author" content="Jonah Henriksson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link rel="icon" type="{{ favicon_type }}" href="{{ favicon }}">

    <title>
        {% if page.title == "Home" %}
            {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/zoa/release/zoa.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
</head>
