html {
	background: url('/assets/images/common/noise.svg') repeat center/320px $back;
	color: $text;

	scrollbar-color: $sect $fore;
	scrollbar-width: thin;

	&::-webkit-scrollbar{
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: $fore;
	}

	&::-webkit-scrollbar-thumb {
		background: $sect;
	}
}

header {
	background-color: $fore;
}

article {
	background-color: $fore;
	border-radius: $radius;
}

footer {
	background-color: $fore;
}

table {
	background-color: $sect;
	border-radius: $radius;
	text-align: center; 
	border-collapse: collapse;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	tr{
		padding: 0.1em;
		&:nth-child(even) {
			background-color: rgb(50, 50, 50);
		}
	}
}

#github_link {
	img {
		width: auto;
		height: 2em;
		vertical-align: -25%;
	}
	padding: 8px;
	border-radius: $radius;
	&:hover {
		background-color: $sect;
	}
}

#home_link {
	img {
		width: auto;
		height: 2em;
		vertical-align: -25%;
	}
}

header > z-col > z-row {
	height: 3em;
	& > a {
		line-height: 3em;
	}
}

.card {
	display: block;
	background-color: $sect;
	border-radius: $radius;
	padding: var(--padding);
	margin-bottom: 1em;
	& > h3 {
		color: $text;
	}
	&:hover {
		box-shadow: 0 0 1px 1px white;
	}
}

z-frame {
	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	height: 0;
	iframe {
		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
	}
}
