html {
	background-color: $back;
	color: $text;

	scrollbar-color: $sect $fore;
	scrollbar-width: thin;

	&::-webkit-scrollbar{
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: $fore;
	}

	&::-webkit-scrollbar-thumb {
		background: $sect;
	}
}

header {
	background-color: $fore;
}

article {
	background-color: $fore;
	border-radius: $radius;
}

footer {
	background-color: $fore;
}

table {
	background-color: $sect;
	border-radius: $radius;
	text-align: center; 
	border-collapse: collapse;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	tr{
		padding: 0.1em;
		&:nth-child(even) {
			background-color: rgb(50, 50, 50);
		}
	}
}

#github_link {
	img {
		width: auto;
		height: 2em;
		vertical-align: -25%;
	}
	padding: 8px;
	border-radius: $radius;
	&:hover {
		background-color: $sect;
	}
}

#home_link {
	line-height: 3em;
	img {
		width: auto;
		height: 2em;
		vertical-align: -25%;
	}
}

#about_link {
	line-height: 3em;
}

.post_preview {
	background-color: $sect;
	border-radius: $radius;
	padding: var(--padding);
}
